<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Access denied</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
    <center>
        <div class="container center">
       		 <p aling="center"><b sec:authentication="name"></b>! You do not have permission to access!</p>
        	<img alt="Error" src="http://www.safetysign.com/images/source/large-images/F3763.png">
            <br>
            
        </div>
    </center>
    </div>
</section>
</div>
</body>
</html>
